<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a class="nav-link" href="/homepage" id="homepage">| Homepage |</a>
        <a class="nav-link" href="/all-users"> Users |</a>
        <a class="nav-link" href="/add-user"> Add User |</a>
        <a class="nav-link" href="/posts"> All Posts |</a>
      </div>
    </nav>
    <h2>Edit User</h2>
    <form action="/editted-user" method="post">
      <input type="hidden" name="id" value="{{user.id}}" />
      <label for="first_name">First Name:</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        value="{{user.first_name}}"
      />
      <br /><br />
      <lable for="last_name">Last Name:</lable>
      <input
        type="text"
        id="last_name"
        name="last_name"
        value="{{user.last_name}}"
      />
      <br /><br />
      <lable for="image_url">URL:</lable>
      <input
        type="text"
        id="image_url"
        name="image_url"
        size="125"
        value="{{user.image_url}}"
      />
      <br /><br />
      <button>Save Edit</button>
    </form>
    <form action="/delete-user" method="post">
      <input type="hidden" name="user" value="{{user.id}}" />
      <button>Delete User</button>
    </form>
  </body>
</html>
