<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Tags</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a class="nav-link" href="/homepage" id="homepage">| Homepage |</a>
        <a class="nav-link" href="/all-users"> Users |</a>
        <a class="nav-link" href="/add-user"> Add User |</a>
        <a class="nav-link" href="/posts"> All Posts |</a>
        <a class="nav-link" href="/tags">All Tags |</a>
      </div>
    </nav>
    <h3>All Tags</h3>

    <ul>
      {% for tag in tags %}
      <li><a class="tag" href="/edit-tag/{{tag.id}}">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
    <form action="/tag">
      <button class="add">New Tag</button>
    </form>
  </body>
</html>
